[user]
	signingkey = 23AADB153D963E2380486E3B1F8B08014EF5AE21
	name = jsu
	email = jsu317@gmail.com
[commit]
	gpgsign = true
[pull]
	rebase = false
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
